.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.navigation-items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.logo-link {
  z-index: 1;
}

.logo-link:hover {
  opacity: 0.8;
}

.logo-link:active {
  opacity: 0.7;
}

.navigation-item {
  padding-top: 9px;
  padding-bottom: 9px;
  opacity: 0.6;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.navigation-item:hover {
  opacity: 0.9;
}

.navigation-item:active {
  opacity: 0.8;
}

.navigation-item.w--current {
  opacity: 1;
  color: #1a1b1f;
  font-weight: 600;
}

.navigation-item.w--current:hover {
  opacity: 0.8;
  color: #32343a;
}

.navigation-item.w--current:active {
  opacity: 0.7;
  color: #32343a;
}

.navigation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 50px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
}

.logo-image {
  display: block;
}

.navigation-wrap {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.button {
  padding: 12px 25px;
  border-radius: 0px;
  background-color: #1a1b1f;
  -webkit-transition: background-color 400ms ease, opacity 400ms ease, color 400ms ease;
  transition: background-color 400ms ease, opacity 400ms ease, color 400ms ease;
  color: #fff;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
}

.button:hover {
  background-color: #32343a;
  color: #fff;
}

.button:active {
  background-color: #43464d;
}

.button.cc-contact-us {
  position: relative;
  z-index: 5;
}

.button.cc-jumbo-button {
  padding: 16px 35px;
  font-size: 14px;
  line-height: 26px;
}

.menu {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.section {
  margin-right: 30px;
  margin-left: 30px;
}

.section.cc-cta {
  margin-top: 120px;
  padding-right: 80px;
  padding-left: 80px;
  background-color: #f4f4f4;
}

.home-section-wrap {
  margin-bottom: 30px;
}

.heading-jumbo-small {
  margin-top: 10px;
  margin-bottom: 85px;
  font-size: 36px;
  line-height: 50px;
  font-style: normal;
  font-weight: 400;
  text-transform: none;
}

.intro-text {
  width: 80%;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
}

.paragraph-light {
  margin-bottom: 85px;
  opacity: 0.6;
  text-align: left;
}

.divider {
  height: 1px;
  background-color: #eee;
}

.bold-text {
  font-weight: 400;
}

.heading-jumbo {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 64px;
  line-height: 80px;
  font-style: italic;
  font-weight: 500;
  text-transform: none;
}

.home-content-wrap {
  margin-top: 80px;
  margin-bottom: 120px;
}

.intro-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 620px;
  margin-bottom: 100px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #000;
  background-image: url('../images/cover.jpg');
  background-position: 50% 50%;
  background-size: cover;
  color: #fff;
}

.about-grid {
  margin-bottom: 80px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 80px;
  grid-row-gap: 30px;
  grid-template-areas: ". .";
  -ms-grid-columns: 1fr 80px 2fr;
  grid-template-columns: 1fr 2fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
}

.section-heading {
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: 400;
}

.intro-content {
  width: 70%;
  max-width: 1140px;
  text-align: center;
}

.intro-content.cc-homepage {
  margin-bottom: 0px;
}

.label {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.label.cc-light {
  opacity: 0.6;
}

.motto-wrap {
  width: 80%;
  margin-right: auto;
  margin-bottom: 14px;
  margin-left: auto;
  text-align: center;
}

.values-title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
  text-align: left;
}

.work-heading {
  margin-top: 10px;
  margin-bottom: 60px;
  font-weight: 400;
}

.values {
  padding-right: 0px;
}

.values-copy {
  padding-right: 0px;
  padding-left: 40px;
}

.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.values-paragragh {
  max-width: 100%;
  margin-bottom: 0px;
  text-align: left;
}

.blog-heading {
  margin-bottom: 60px;
  text-align: center;
}

.cta-text {
  width: 70%;
  margin-right: auto;
  margin-bottom: 35px;
  margin-left: auto;
}

.cta-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 110px;
  padding-bottom: 120px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.heading-jumbo-small-copy {
  margin-top: 10px;
  margin-bottom: 24px;
  font-size: 36px;
  line-height: 50px;
  font-style: normal;
  font-weight: 400;
  text-transform: none;
}

.paragraph-bigger {
  margin-bottom: 10px;
  opacity: 1;
  font-size: 20px;
  line-height: 34px;
  font-weight: 400;
}

.paragraph-bigger.cc-bigger-light {
  opacity: 0.6;
}

.footer-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.paragraph-tiny {
  font-size: 12px;
  line-height: 20px;
}

.link {
  color: #000;
  text-decoration: none;
}

.image-2 {
  display: inline-block;
}

.about-story-wrap {
  width: 80%;
  margin: 80px auto;
  text-align: center;
}

.intro-header-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 620px;
  margin-bottom: 100px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f4f4f4;
  background-image: url('../images/cover4.jpg');
  background-position: 50% 50%;
  background-size: cover;
  color: #fff;
}

.intro-header-2.cc-subpage {
  height: 480px;
  background-color: #000;
  background-image: none;
  color: #fff;
}

.paragraph-2 {
  text-align: left;
}

.paragraph {
  margin-bottom: 42px;
  text-align: center;
}

@media (max-width: 991px) {
  .navigation-items {
    background-color: #fff;
  }
  .menu-icon {
    display: block;
  }
  .logo-link.w--current {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .navigation-item {
    padding: 15px 30px;
    -webkit-transition: background-color 400ms ease, opacity 400ms ease, color 400ms ease;
    transition: background-color 400ms ease, opacity 400ms ease, color 400ms ease;
    text-align: center;
  }
  .navigation-item:hover {
    background-color: #f7f8f9;
  }
  .navigation-item:active {
    background-color: #eef0f3;
  }
  .menu-button {
    padding: 0px;
  }
  .menu-button.w--open {
    background-color: transparent;
  }
  .navigation {
    padding: 25px 30px;
  }
  .navigation-wrap {
    background-color: #fff;
  }
  .button {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .button.cc-contact-us {
    display: none;
  }
  .menu {
    position: static;
    margin-left: 30px;
  }
  .section.cc-cta {
    padding-right: 0px;
    padding-left: 0px;
  }
  .intro-text {
    width: auto;
  }
  .heading-jumbo {
    font-size: 56px;
    line-height: 70px;
  }
  .about-grid {
    grid-row-gap: 50px;
    grid-template-areas: "." ".";
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto 50px auto;
    grid-template-rows: auto auto;
    text-align: center;
  }
  .values {
    margin-bottom: 40px;
  }
  .values-copy {
    margin-bottom: 40px;
    padding-left: 0px;
  }
  .div-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .cta-text {
    width: auto;
  }
  .cta-wrap {
    width: auto;
    padding: 80px 50px 90px;
  }
}

@media (max-width: 767px) {
  .logo-link {
    padding-left: 0px;
  }
  .navigation {
    padding: 20px 30px;
  }
  .section {
    margin-right: 15px;
    margin-left: 15px;
  }
  .section.cc-store-home-wrap {
    margin-right: 15px;
    margin-left: 15px;
  }
  .section.cc-cta {
    padding: 15px;
  }
  .section.cc-home-wrap {
    margin-right: 15px;
    margin-left: 15px;
  }
  .heading-jumbo-small {
    font-size: 30px;
    line-height: 52px;
  }
  .heading-jumbo {
    font-size: 50px;
    line-height: 64px;
  }
  .container {
    text-align: center;
  }
  .intro-content {
    width: 80%;
  }
  .values-title {
    font-size: 24px;
  }
  .cta-wrap {
    padding-right: 30px;
    padding-left: 30px;
  }
  .heading-jumbo-small-copy {
    font-size: 30px;
    line-height: 52px;
  }
  .paragraph-bigger {
    font-size: 16px;
    line-height: 28px;
  }
}

@media (max-width: 479px) {
  .menu-button {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
  .menu-button.w--open {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
  .navigation {
    padding-right: 20px;
    padding-left: 20px;
  }
  .menu {
    margin-left: 15px;
  }
  .heading-jumbo {
    font-size: 36px;
    line-height: 48px;
  }
  .intro-header {
    background-color: #000;
  }
  .cta-wrap {
    padding-right: 15px;
    padding-left: 15px;
  }
}

#w-node-49ddc3b2fe5f-0d795919 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-49ddc3b2fe6c-0d795919 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

@media screen and (max-width: 991px) {
  #w-node-49ddc3b2fe5f-0d795919 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }
  #w-node-49ddc3b2fe6c-0d795919 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }
}